{% extends 'userbase.html' %}

{% block title %}Access Denied{% endblock %}

{% block content %}
<section class="container py-5">
  <div class="row align-items-center justify-content-center min-vh-100">
    <div class="col-md-5 col-lg-4 py-5">
      <div class="bg-danger text-white border border-bottom-0 rounded-top text-center">
        <h1 class="p-3 m-0">Access Denied</h1>
      </div>
      <div class="bg-white border container rounded-bottom p-3">
        Your account is not authorized to view this page.
        {% set role = session.get('role') %}
        You can return
        <a href="{% if role == 'Volunteers' %}{{ url_for('customer_home') }}{% elif role == 'Event Leaders' %}{{ url_for('staff_home') }}{% elif role == 'Administrators' %}{{ url_for('admin_home') }}{% else %}{{ url_for('login') }}{% endif %}">home</a>,
        or <a href="{{ url_for('logout') }}">log out</a> if you want to sign in with a different account.
      </div>
    </div>
  </div>
</section>
{% endblock %}
